.logo-container
{
    z-index: 9;
    width: 400px;
    height: 500px;
    // display: block;
    position: absolute;
    right: 10%;
    top: 0;
    background-color: transparent;
    img 
    {
        width: 500px;
        height:500 px;
        padding-top: 50px;
        animation: fadeIn 1s 1s backwards;
        margin: auto;
    }

}